body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
    color: #e85a4f;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    margin-bottom: 25px;
}

li>span {
    margin: 0 4px;
}

button {
    margin: 5px;
    padding: 5px 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    background-color: #d8c3a5;
    color: #e85a4f;
    border-color: #8e8d8a;

}

button:hover {
    background-color: #e85a4f;
    color: #d8c3a5;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

.large-button {
    padding: 5px 108px;
}

.center {
    text-align: center;
}

.inline {
    display: inline-block;
}

.panel {
    border: 3px solid #e98074;
    border-radius: 5px;
    margin: 20px 20px;
    padding: 20px 20px;
    background-color: #eae7dc;
    color: #e85a4f;
}

.highlight {
    color: #8e8d8a;
}

.highlight2 {
    color: #e85a4f;
}

.quote {
    font-style: italic;
}